.tableWrapper {
  overflow: auto;
  width: 100%;
  display: block;
  margin: 0 auto;
  white-space: nowrap;
  color: var(--admiral-color-Neutral_Neutral90);
}

.tableStyle {
  border-collapse: collapse;
  border-spacing: 0px;
}

/* фиксируем заголовок при вертикальном скролле */
.theadStyle {
  position: sticky;
  top: 1px;
}

.trStyle:has(input[type='checkbox']:checked) .tdStyle {
  background-color: var(--admiral-color-Primary_Primary20);
  border-bottom: 1px solid var(--admiral-color-Primary_Primary20);
}

.trStyle:hover .tdStyle {
  background-color: var(--admiral-color-Primary_Primary10);
}

.tdStyle {
  background-color: var(--admiral-color-Neutral_Neutral00);
  padding: 12px;
}

.thStyle {
  /* ${(p) => p.theme.typography['Subtitle/Subtitle 3']} */
  padding: 10px 12px;
  background-color: var(--admiral-color-Neutral_Neutral05);
  text-align: left;
  vertical-align: top;
}

.thStyle,
.tdStyle {
  border-bottom: 1px solid var(--admiral-color-Primary_Primary20);
  border-right: 1px solid var(--admiral-color-Primary_Primary20);
}

/* последняя колонка растягивается в ширину при необходимости */
.thStyle:last-child {
  width: 100%;
  border-right: none;
}

.tdStyle:last-child {
  border-right: none;
}

.trStyle:last-of-type .tdStyle {
  border-bottom: none;
}

/* 1 колонка header'a фиксирована при горизонтальном скролле */
.thStyle:first-child {
  position: sticky;
  left: 1px;
  background-color: var(--admiral-color-Neutral_Neutral05);
  width: 80px;
}

/* 1 колонка фиксирована при горизонтальном скролле */
.tdStyle:first-child {
  position: sticky;
  left: 1px;
  background-color: var(--admiral-color-Neutral_Neutral00);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 58px;
}

.container {
  display: flex;
  color: var(--admiral-color-Primary_Primary60Main);
}

.tableWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--admiral-color-Neutral_Neutral00);
}
